/* Global CSS */
html, body {
  height: 100%; 
  width: 100%; 
  margin: 0;    
  padding: 0; 
  overflow: hidden; 
  font-family: "Dynapuff";
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.button {
  color: #936FAF;
  background-color: #D1BFDA;
  border: 4px solid #936FAF; 
  border-radius: 8px;
  font-family: "Dynapuff";
  cursor: pointer;
}

.button:hover {
  background-color: #b89ecc;
  border: 4px solid #D1BFDA; 
  color: #eee8f2;
}

.endgame-button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* GameScreen CSS */
.gamescreen-button {
  font-size: 18px;
  width: 141px;
  height: 45px;
  
  display: flex;             /* Use flexbox */
  justify-content: center;   /* Center the text horizontally */
  align-items: center;       /* Center the text vertically */
}

.square {
  display: flex;             
  justify-content: center;      
  align-items: center;        
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background-color: #D9D9D9;
}

.square:hover {
  background-color: #c7c2c2;
  cursor: pointer;
}

.game-screen {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 equal columns */
  align-items: center;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(217, 217, 217, 0.5);

  border-radius: 8px;
  width: 282px;
  height: 282px;
}

.game-button {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.status-container {
  font-size: 20px;
}

.status {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #FFFFFF;
  font-size: 20px;
}

.pokeball {
  width: 68px;
  height: 68px;
}

.pokeball-status-container {
  width: 38px;
  height: 38px;
}

/* Container CSS */
.container {
  display: flex;
  flex-direction: column;  /* Stack child elements vertically */
  width: 700px;
  height: 650px;
  background-color: #D1BFDA; /* Background color for the container */
  border-radius: 8px;
  overflow: hidden;  /* Prevent any overflow and scrolling */
  border-color: #936FAF;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px;
}

.title {
  color: #936FAF;
  font-size: 36px;
}

.screen--button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  align-items: center;
}

.screen-button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

.minimize-button, .exit-button {
  width: 53px;
  height: 53px;
}

.minimize-button:hover, .exit-button:hover {
  width: 60px;
  height: 60px;
}

.screen-container {
  height: 482px; /* Fixed height */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin: 20px 20px;
  background-image: url(./assets/background.png);

  background-size: cover;  /* Cover the whole container */
  background-position: center;  /* Center the image inside the container */

  /* Border settings */
  border: 7px solid #936FAF;
  border-radius: 8px;
}

/* MenuScreen CSS */
.menu-screen {
  text-align: center;
}

.menu-title {
  color: #E9D7F8;
  font-size: 64px;
}

.play-button {
  color: #936FAF;
  background-color: #D1BFDA;
  border: 4px solid #936FAF;
  border-radius: 8px;
  width: 170px;
  height: 54px;
  font-size: 20px;
}

.play-button:hover {
  width: 180px;
}
/* Winner Screen */
.winner, .winner-title {
  margin: 0;
}

.winner-screen {
  display: flex;
  flex-direction: column;
}

.end-button {
  font-size: 18px;
}

.winner {
  text-align: center;
  margin-bottom: 13.333px;
}

.winner-title {
  color: #E9D7F8;
  font-size: 50px;
  margin-bottom: 30px;
}

.title-item {
  position: relative;
  display: inline-block;
  animation: bounce 1.2s ease-in-out infinite alternate;
  transform-origin: center bottom;
}


.title-item:nth-child(1) {
  animation-delay: .0s;
}

.title-item:nth-child(2) {
  animation-delay: .1s;
}

.title-item:nth-child(3) {
  animation-delay: .2s;
}

.title-item:nth-child(4) {
  animation-delay: .3s;
}

.title-item:nth-child(5) {
  animation-delay: .4s;
}

.title-item:nth-child(6) {
  animation-delay: .5s;
}

.title-item:nth-child(7) {
  animation-delay: .6s;
}

.title-item:nth-child(8) {
  animation-delay: .7s;
}

.title-item:nth-child(9) {
  animation-delay: .8s;
}

.title-item:nth-child(10) {
  animation-delay: .9s;
}

.title-item:nth-child(11) {
  animation-delay: 1s;
}

.title-item:nth-child(12) {
  animation-delay: 1.1s;
}

.title-item:nth-child(13) {
  animation-delay: 1.2s;
}

.title-item:nth-child(14) {
  animation-delay: 1.3s;
}

.title-item:nth-child(15) {
  animation-delay: 1.4s;
}

.title-item:nth-child(16) {
  animation-delay: 1.5s;
}

.title-item:nth-child(17) {
  animation-delay: 1.6s;
}

.title-item:nth-child(18) {
  animation-delay: 1.7s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Bounce up */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}

.winner-ball {
  width: 87px;
  height: 87px;
}

.endscreen-play-again-button {
  width: 177px;
  height: 45px;
}

.endscreen-home-button {
  width: 141px;
  height: 45px;
}

/* DrawScreen */
.draw-title, .draw-subtitle {
  margin: 0;
}

.draw-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.draw-title {
  color: #E9D7F8;
  font-size: 50px;
  margin-bottom: 10px;
}

.draw-color {
  color: #F5D1A8;
}

.draw-subtitle {
  color: #E9D7F8;
  font-size: 30px;
  margin-bottom: 30px;
}