#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Dynapuff";
}

.board {
  display: flex;
  flex-direction: column;
}

.game-board {
  display: grid;
  padding: 40px;
  grid-template-columns: repeat(3, 1fr);  /* 3 equal columns */
  gap: 10px;
}

.square {
  display: flex;                /* Enable Flexbox */
  justify-content: center;      /* Horizontally center the content */
  align-items: center;          /* Vertically center the content */
  width: 80px;
  height: 80px;
  border-radius: 8px;
}