#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  display: flex;
  flex-direction: column;
}

.game-board {
  display: grid;
  padding: 40px;
  grid-template-columns: repeat(3, 1fr);  /* 3 equal columns */
  gap: 10px;
}

.square {
  width: 80px;
  height: 80px;
}